
.main-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .img-spin {
      width: 150px;
      height: 150px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 2;
  }
  .swiper-main {
    height: 100%;
    .swiper-slide {
      .slide-wrapper {
        overflow: hidden;
        height: 100%;
        h1 {
          font-size: 4.15em;
          font-weight: bold;
        }
        .slider-img {
          width: 50%;
          top: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
          video {
            position: absolute;
            z-index: 0;
            object-fit: cover;
            width:100%;
            height:100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::-webkit-media-controls {
              display:none !important;
            }
          }
        }
      }
    }
  }
}

.graph-1 {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  position: relative;
  .text-graph-1 {
    position: absolute;
    left: -75%;
    bottom: -70px;
    width: 250%;
    max-width: none;
  }
  .grid-img {
    max-width: 650px;
  }
  .asterisk {
    max-width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.wrapper-quote {
  height: 420px;
  position: relative;
  img {
    &.asterisk {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: none;
      z-index: 0;
      height: 90%;
    }
  }
  h3 {
    font-size: 4em;
    line-height: 1.3em;
    margin-bottom: 1em
  }
  .quote-img {
    height: 120%; 
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  p {
    font-size: 1.35em;
  }
}

.smart-buy {
  position: relative;
  overflow: hidden;
  img {
    &.graph {
      position: absolute;
      right: 0;
      bottom: -20%;
      z-index: 0;
    }
  }
  .card-items {
    position: relative;
    .item-card {
      .thumb {
        position: relative;
        margin: 2em 0;
        height: 410px;
        .img-spin {
          width: 150px;
          height: 150px;
          position: absolute;
          top: -75px;
          right: -75px;
          z-index: 0;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}


.store-btn-wrapper {
  height: 100vh;
  min-height: 630px;
  position: relative;
  .store-btn-list {
    display: flex;
    gap: 1em;
    justify-content: center;
  }
  img {
    &.cut-asterisk {
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  .phone-1 {
    position: absolute;
    width: 400px;
    margin: 0 auto;
    left: 5em;
    bottom: 2em;
    .text {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 120px;
      font-weight: 700;
      img {
        &.arrow {
          position: absolute;
          left: 2em;
          bottom: 110%;
          z-index: 1;
        }
      }
    }
  }
  .phone-2 {
    position: absolute;
    width: 250px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 2em;
    .text {
      position: absolute;
      left: calc( -140px - 2em );
      top: 0;
      z-index: 2;
      width: 140px;
      text-align: right;
      font-weight: 700;
    }
    img {
      &.shine-1 {
        width: 55px;
        position: absolute;
        bottom: 0;
        right: -2em;
      }
      &.shine-2 {
        width: 50px;
        position: absolute;
        top: 0;
        left: -1em;
      }
    }
  }
  .phone-3 {
    position: absolute;
    width: 300px;
    margin: 0 auto;
    right: 6em;
    bottom: 2em;
    .text {
      position: absolute;
      left: -90px;
      bottom: 10em;
      z-index: 2;
      width: 110px;
      text-align: right;
      font-weight: 700;
      img {
        &.emoji {
          width: 2em !important;
          height: 2em !important;
        }
      }
    }
  }
}

.wrapper-recharge {
  padding-top: 4em;
  position: relative;
  img {
    &.step-img {
      width: 100px;
    }
    &.cut-asterisk {
      width: 335px;
      position: absolute;
      bottom: -5.5em;
      right: -10.5em;
    }
  }
}

.recharge-img {
  height: 720px;
  position: relative;
  img {
    &.recharge-img-1 {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
      position: relative;
      z-index: 1;
    }
    &.recharge-img-2 {
      position: absolute;
      bottom: 7.5em;
      right: 4em;
      z-index: 0;
    }
  }
}

img {
  &.grid-carousel {
    max-width: 740px;
    position: absolute;
    bottom: 3em;
    right: -4em;
  }
}

.how-to-wrapper {
  position: relative;
  img {
    &.cut-asterisk {
      width: 50%;
      position: absolute;
      right: -17em;
      bottom: -23.5em;
      z-index: 0;
    }
  }
  .link-item {
    position: relative;
    z-index: 1;
    margin-bottom: 2em;
    .thumb {
      width: 100%;
      height: 340px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.recharge-img-wrapper {
  width: 440px;
  height: 420px;
  position: relative;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.gallery-carousel-wrapper {
  position: relative;
  background-color: #ffffff;
  .asterisk {
    position: absolute;
    top: -15em;
    right: -10.5em;
  }
}

.findus-wrapper {
  h2 {
  }
  .findus-img {
    width: 100%;
    max-height: 490px;
    position: relative;
    margin-bottom: 1em;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 1;
    }
  }
  // .findus-content {}
}

.rechargeable-products {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: calc( 100% / 5 );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em 2em;
    position: relative;
    cursor: pointer;
    .item-hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      color: #ffffff;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          font-size: 1.15em;
          margin-bottom: 0.5em;
        }
      }
      &:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }
    img {
      height: 260px;
      margin-bottom: 1em;
    }
    p {
      font-size: 1.15em;
      margin-bottom: 0.5em;
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

  .main-slider {
    height: 100vh;
    .swiper-main {
      .swiper-slide {
        .slide-wrapper {
          height: 100vh;
          h1 {
            font-size: 1.5em;
          }
          .slider-img {
            width: 100%;
            height: 60vh;
          }
          .slide-txt-wrapper {
            height: 40vh;
            display: flex;
            align-items: center;
            h1 {
              font-size: 2.5em;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .smart-buy {
    h2 {
      font-size: 2.5em;
      font-weight: bold;
    }
  }

  .wrapper-quote {
    height: 100vh;
    text-align: center;
    img {
      &.asterisk {
        height: 60%;
      }
    }
    h3 {
      font-size: 1.5em;
    }
    .quote-txt-wrapper {
      padding-top: 2em;
    }
    .quote-img {
      height: 60%;
      right: 0;
      left: -30%;
      margin: 0 auto;
      width: auto;
      max-width: none;
    }
    p {
      font-size: .85em;
    }
    margin-bottom: 1em
  }

  .store-btn-wrapper {
    height: auto;
  }

  .phone-1,
  .phone-2,
  .phone-3 {
    width: 80% !important;
    margin: 0 auto !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    .text {
      position: relative !important;
      width: 70% !important;
      margin: 2em auto 3em !important;
      text-align: center !important;
      font-size: 1.3em !important;
      left: 0 !important;
      right: auto !important;
      bottom: 0 !important;
    }
  }
  .phone-1 {
    width: 95% !important;
  }

  .phone-2 {
    margin: 0 auto !important;
    .text {
      left: auto ;
      right: calc(-50px - 2em);
    }
  }

  .phone-3 {
    margin: 0 auto !important;
    .text {
      right: -50px ;
      left: auto ;
      bottom: 20em ;
      img {
        &.emoji {
          display: none !important;
        }
      }
    }
  }

  .rechargeable-products {
    .item {
      width: 100%;
    }
  }

}

