.banner-wrapper {
  .banner {
    width: 100%;
    height: calc( 100vh - 85px );
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;
      z-index: 0;
    }
    .content-banner {
      position: relative;
      text-align: left;
      z-index: 1;
      color: #ffffff;
      h2 {
        font-size: 3.8em;
        font-weight: 900;
      }
      p {
        font-size: 1.3em;
        font-weight: 300;
      }
    }
  }
}

.timeline-carousel-wrapper {
  h4 {
    line-height: 1.2em;
  }
}

.carousel-wrapper {
  width: 100%;
  position: relative;
  padding-left: 5em;
  .timeline-swiper {
    .swiper-wrapper {
      .swiper-slide {
        width: 23%;
      }
    }
    .btn-swiper {
      top: 25%;
    }
    &.date {
      .swiper-wrapper {
        height: 160px;
        .swiper-slide {
          border: 1px solid orange;
          width: 23%;
        }
      }
    }
  }
}

.team-wrapper {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    .member {
      width: calc(20% - 1em);
      margin-right: 1em;
      margin-bottom: 1em;
      .thumb {
        width: 100%;
        height: 290px;
        margin-bottom: .75em;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 0;
          left: 0;
          &.member-img-primary {
            opacity: 1;
            transition: all .15s linear;
          }
          &.member-img-secondary {
            opacity: 0;
            transition: all .15s linear;
          }
        }
        &:hover {
          img {
            &.member-img-primary {
              opacity: 0;
              transition: all .15s linear;
            }
            &.member-img-secondary {
              opacity: 1;
              transition: all .15s linear;
            }
          }
        }
      }
      .info {
        text-align: center;
        .name {
          font-size: 1.2em;
          font-weight: bold;
        }
        p {
          color: #00ABB1;
        }
        &:nth-child( 5n ) {
          margin-right: 0;
        }
      }
    }
    
  }
  &.interactive {
    .team-list {
      .member {
        cursor: pointer;
      }
    }
  }
}



.bottom-graph-wrapper {
  padding: 6em 0 4em;
}

.swiper-team {
  .swiper-wrapper {
    .swiper-slide {
      width: 60% !important;
      .member {
        width: 100%;
        .thumb {
          width: 100%;
          height: 290px;
          margin-bottom: .75em;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .info {
          text-align: center;
          .name {
            font-size: 1.2em;
            font-weight: bold;
          }
          p {
            color: #00ABB1;
          }
        }
      }
    }
  }
}




@media (max-width: 767.98px) {

  .banner-wrapper {
    .banner {
      .content-banner { 
        text-align: center;
      }
    }
  }

  .carousel-wrapper {
    .timeline-swiper {
      .swiper-wrapper {
        .swiper-slide {
          width: 80%;
        }
      }
    }
  }

  .fullpage {
    &.parallax {
      .section {
        height: auto;
      }
      #block-1 {
        img {
          max-width: 185px;
        }
      }
      #block-2 {
        img {
          max-width: 275px;
        }
        
      }
      #block-3 {
        img {
          max-width: 200px;
        }
      }
    }
  }

  .team-wrapper {
    .team-list {
      .member {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .banner-wrapper {
    .banner {
      .content-banner {
        h2 {
          font-size: 3em;
        }
      }
    }
  }
  

}