.services-thumb-list-wrapper {
  position: relative;
  z-index: 2;
  margin-top: -110px;
}

.services-thumb-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -20px;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1em;
  li {
    width: calc(33% - 1em);
    margin: 0 0 20px 0;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
    flex-grow: 1;
    flex-shrink: 0;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

    }
  }
}

.cta-btn {
  text-align: center;
  a {
    width: auto;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    span {
      width: 24px;
      height: 24px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: #E5E7EB;
      border-radius: 12px;
      margin-left: 1em;
    }
  }
}

.service-wrapper {
  h2 {
    font-size: 3.5em;
  }
}

.image-collapse-wrapper {
  width: 100%;
  height: 390px;
  position: relative;
  margin-bottom: 3em;
  .service-image {
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .service-image-collapse {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    .btn-circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #FFFFFF;
      color: #00ABB1;
    }
  }
}

.grid-service-1 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
}
.grid-service-2 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
}

.delivery-wrapper {
  padding: 5em 0 8em;
  position: relative;
  overflow: hidden;
  .delivery-graph {
    width: 380px;
    position: absolute;
    right: -80px;
    bottom: -80px;
    z-index: -1;
  }
}

.grid-delivery {
  width: auto;
  max-width: none;
  height: 310px;
  position: absolute;
  top: 150px;
  right: 150px;
}

.locations-wrapper {
  padding: 6em 0;
  position: relative;
  .location-img {
    width: 100%;
    height: 450px;
    margin-bottom: 2em;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.tooltips-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .tooltip-item {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00ABB1;
    cursor: pointer;
    .tooltip-content {
      position: absolute;
      width: 380px;
      height: auto;
      background-color: #FFFFFF;
      padding: 1.5em;
      border-radius: 25px;
      // top: -55px;
      left: 40px;
      color: #2D2D2D;
      display: none;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
      p {
        text-align: center;
        margin: 0;
        font-weight: 300;
      }  
      .triangle-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #ffffff;
        border-bottom: 10px solid transparent;
        position: absolute;
        top: calc(50% - 16px);
        left: -10px;
      }  
    }
    &.active {
      z-index: 2;
      .tooltip-content {
        display: block;
      }
    }
  }
  &.lider {
    .tooltip-item {
      &.dot-1 {
        top: 42%;
        left: 18%;
      }
      &.dot-2 {
        top: 50%;
        left: 38%;
      }
      &.dot-3 {
        top: 50%;
        left: 59%;
      }
      &.dot-4 {
        top: 60%;
        left: 38%;
      }
    }
  }
  &.acuenta {
    .tooltip-item {
      &.dot-1 {
        top: 44%;
        left: 21%;
      }
      &.dot-2 {
        top: 35%;
        left: 35%;
      }
      &.dot-3 {
        top: 50%;
        left: 35%;
      }
      &.dot-4 {
        top: 40%;
        left: 59%;
      }
    }
  }
  &.sodimac {
    .tooltip-item {
      &.dot-1 {
        top: 44%;
        left: 34%;
      }
      &.dot-2 {
        top: 42%;
        left: 50%;
      }
      &.dot-3 {
        top: 65%;
        left: 35%;
      }
      &.dot-4 {
        top: 65%;
        left: 75%;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .services-thumb-list {
    li {
      width: 100%;
    }
  }
}