.form-select {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #ffffff;
}

.wrapper-carousel {
  &.data-2 {
    position: relative;
    img {
      &.grid-carousel {
        position: absolute;
        width: 50%;
        left: 0;
        right: 0;
        bottom: -6em;
        margin: auto;
      }
    }
  }
}

.simular-impacto-gif {
  h2 {
    font-size: 3.5em;
  }
}

@media (max-width: 767.98px) {

  .wrapper-carousel {
    &.data-2 {
      img {
        &.grid-carousel {
          width: 110%;
          left: 0;
          right: 0;
          bottom: -6em;
          margin: auto;
        }
      }
    }
  }

  .simular-impacto-gif {
    h2 {
      font-size: 2.5em;
    }
  }
}
