.wrapper-footer {
  background-color: #000000;
  color: #ffffff;
  padding-top: 4em;
  padding-bottom: 2em;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 1em;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
}
.nav_menu-10 {
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    li {
      margin-right: 1em;
      display: flex;
      align-items: center;
      &::before {
        background-color: #fff;
        width: 24px;
        height: 24px;
        color: #000000;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: .5em;
      }
      a {
        font-family: 'CircularStd-Book';
      }
    }
  }
} 
.footer-copy {
  height: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2em;
}

ul {
  &#menu-redes-sociales {
    li {
      margin-right: .5em !important;
      &:before {
        width: 24px;
        height: 24px;
        background-color: #ffffff;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: .5em;
        color: #000000;
      }
      a {
        font-family: 'CircularStd-Book';
      }
    }
  }
}

@media (max-width: 767.98px) {

  #menu-redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-copy {
    height: auto;
  }

}