#wrapper-navbar {
  .wp-block-columns {
    margin: 0;
  }
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  &.fixed-admin {
    margin-top: 32px;
  }
}
.main-navbar {
  align-items: center;
  .navbar-brand {
    max-width: 120px;
  }
  .navbar-nav {
    .nav-link {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 1);
    }
  }
  button {
    &.btn-cmp {
      font-weight: 450;
      font-size: 14px;
      border-radius: 12px;
      padding-top: .75em;
      padding-bottom: .75em;
    }
  }
}

#menu-menu-header-right {
  list-style: none;
  padding: 0;
  margin: 0;
  .btn-cmp {
    a {
      font-weight: 450;
      display: inline-block;
      font-size: 14px;
      border-radius: 12px;
      padding: 1em;
      background-color: #00ABB1;
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

.lang-selector {
  .wpml-ls-legacy-dropdown-click {
    max-width: 12em !important;
    ul {
      li {
        a {
          background-color: rgba($color: #ffffff, $alpha: 0) !important;
          border: 0 !important;
          &.wpml-ls-item-toggle {
            &:after {
              border: 0 !important;
              font-family: "Font Awesome 5 Free"; 
              font-weight: 900; 
              content: "\f107";
              top: 0 !important;
              color: #000000;
              line-height: 1.8em;
            }
          }
        }
        .wpml-ls-sub-menu {
          border: 0 !important;
        }
      }
    }
  }
}



.menu-menu-principal-container {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {

  .menu-menu-principal-container {
    margin-bottom: 2em;
  }

}