#wrapper-navbar {
  // background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 85px;
  left: 0;
  padding: 0 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  &.no-shadow {
    box-shadow: none;
  }
  .wp-block-columns {
    margin: 0;
  }
  &.fixed-admin {
    margin-top: 32px;
  }
}
.main-navbar {
  align-items: center;
  .navbar-brand {
    max-width: 120px;
  }
  .navbar-nav {
    .nav-link {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 1);
    }
  }
  button {
    &.btn-cmp {
      font-weight: 450;
      font-size: 14px;
      border-radius: 12px;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
    }
  }
}

#menu-menu-header-right {
  list-style: none;
  padding: 0;
  margin: 0;
  .btn-cmp {
    a {
      font-weight: 450;
      display: inline-block;
      font-size: 14px;
      border-radius: 12px;
      padding: 1em;
      background-color: #00abb1;
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

.lang-selector {
  .wpml-ls-legacy-dropdown-click {
    max-width: 12em !important;
    ul {
      li {
        a {
          background-color: rgba($color: #ffffff, $alpha: 0) !important;
          border: 0 !important;
          &.wpml-ls-item-toggle {
            &:after {
              border: 0 !important;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f107";
              top: 0 !important;
              color: #000000;
              line-height: 1.8em;
            }
          }
        }
        .wpml-ls-sub-menu {
          border: 0 !important;
        }
      }
    }
  }
}

.logo-animated {
  position: relative;
  display: flex;
  align-items: inherit;
  .logo-wrapper {
    transition: all .1s ease-in-out;
    top: 0;
    opacity: 1;
    width: 125px;
    display: inline-block;
  }
  img {
    height: 2.5em;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    &.logo {
      max-width: none;
      opacity: 1;
      transition: all .5s ease-in-out;
    }
    &.isotipo {
      opacity: 0;
      max-width: none;
      top: 1px;
      transition: all .2s linear;
      transition-delay: 0;
    }
  }
  
  &.scrolled {
    .logo-wrapper {
      transition: all 0.3s ease-in-out;
      width: 0;
      overflow: hidden;
    }
    img {   
      &.logo {
        opacity: 0;
        transition: all .3s ease-in-out;
      }   
      &.isotipo {
        opacity: 1;
        transition: all .3s ease-in-out;
        transition-delay: .1s;
      }
    }
    
  }
}

.menu-menu-principal-container {
  margin-bottom: 0;
}

.menu-desktop {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: .75em;
  li {
    .nav-link {
      padding: 0;
      font-size: .9em;
      color: rgba(0, 0, 0, 1);
    }
  }
}

.secondary-menu {
  width: 100%;
  max-width: 160px;
  display: flex;
  justify-content: end;
  ul {
    li {
      a {
        display: block;
        text-align: center;
      }
    }
  }
}

.mobile-menu-wrapper {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 100%;
  left: 0;
  z-index: 9999;
  color: #ffffff;
  opacity: 0;
  transition: all .25s ease-in-out;
  .close-menu {
    position: absolute;
    top: 1.5em;
    right: 1em;
  }
  .mobile-menu-body {
    margin-top: 6em;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      margin-bottom: 1em;
      li {
        text-align: center;
        margin-bottom: 1em;
        &.btn-cmp {
          display: inline-block;
          font-size: 14px;
          border-radius: 12px;
          padding: 1em;
          background-color: #00abb1;
          text-decoration: none;
          font-size: 14px;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
        
      }
    }
    .mobile-menu {
      ul {
        li {
          a {
            color: #ffffff;
            text-align: center;
            font-size: 1.8em;

          }
          &.current-menu-item {
            a {
              color: #00abb1;
            }
          }
        }
      }
    }
    
  }
  &.opened {
    opacity: 1;
    bottom: 0;
    transition: all .5s ease-in-out;
  }
}

@media (max-width: 767.98px) {
  #wrapper-navbar {
    height: auto;
    position: relative;
    &.fixed-admin {
      margin-top: 0;
    }
  }

  .secondary-menu {
    width: 100%;
    max-width: none;
    justify-content: start;
  }

  .menu-menu-principal-container {
    margin-bottom: 2em;
  }
}


