html {
  overflow-x: hidden !important;
}

body {
  font-family: 'CircularStd-Book', Helvetica Neue,Helvetica,Arial,sans-serif;;
  min-height: 600px;
}

.circular-book {
  font-family: 'CircularStd-Book', Helvetica Neue,Helvetica,Arial,sans-serif;;
}

header {
  padding: 11px 26px;
}

.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.banner-header {
  height: 75vh;
  h1 {
    font-size: 75px;
  }
  // &.simular-impacto {
  //   height: 75vh;
  // }
}

.graph-wrapper {
  .graph-img {
    position: relative;
    z-index: 1;
  }
  .text-graph-2 {
    position: absolute;
    left: -75%;
    top: -70px;
    width: 350%;
    max-width: none;
    z-index: 0;
  }
  .text-graph-3 {
    position: absolute;
    left: -75%;
    top: -105px;
    width: 250%;
    max-width: none;
    z-index: 0;
  }
  .text-graph-4 {
    position: absolute;
    left: -75%;
    bottom: -105px;
    width: 200%;
    max-width: none;
    z-index: 0;
  }
  .text-graph-5 {
    position: absolute;
    left: -85%;
    top: -70px;
    width: 280%;
    max-width: none;
    z-index: 0;
  }
}

@media (max-width: 767.98px) {

  .banner-header {
    h1 {
      font-size: 3em;
    }
    &.simular-impacto {
      height: auto;
    }
  }

  .secondary-menu {
    margin-top: 2em;
  }

}